body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
  }
  
  .App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  